@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

/* ===============
    GLOBAL STYLES
   ===============*/

:root {
    --secondary-clr: #f7f7f7;
    --info-clr: #999;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 16px;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}

/* ===============
    HOME PAGE STYLES
   ===============*/

.page {
    /*max-width: 1300px;*/
    margin: 0 auto;
    text-align: center;
}

.page h1 {

}

/* ===============
    SLIDER COMPONENT STYLES
   ===============*/

.slider {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    line-height: 1.2rem;
    /*max-width: 1100px;*/
}

.slider-item {
    width: 14rem;
    height: 24rem;
    background-color: var(--secondary-clr);
    margin: 0 1rem;
}

.slider-item .img {
    height: 11rem;
    padding-top: 1rem;
}

.slider-item .img-info {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.slider-item .img-info span {
    width: 2.5rem;
    height: 1.5rem;
    margin-bottom: .2rem;
    text-align: center;
    padding: 4px 2px 0 2px;
}

.slider-item .img-info .discount {
    background-color: #d61d1d;
    color: #fff;
}
.slider-item .img-info .likes {
    background-color: var(--secondary-clr);
    color: #d61d1d;
}
.slider-item .img-info .likes:before {
    content: '\2661';
    font-size: 1.3rem;
}
.slider-item .img-info .isNew {
    background-color: #303030;
    color: #fff;
    font-size: .9rem;
}

.slider-item .img img {
    height: inherit;
    mix-blend-mode: multiply;
}

.slider-item .content {
    display: grid;
    grid-template-rows: 43% 27% 19%;
    height: 11rem;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}

.slider-item .content a {
    text-decoration: none;
    color: #000;
}

.slider-item .content h2 {
    font-size: .9rem;
}

.slider-item .content .pills {
    font-size: .75rem;
    color: var(--info-clr);
}

.slider-item .content .price {
    font-size: 1rem;
    font-weight: bold;
}

.slider-item .content .price:after {
    content: ' € *';
}

.slider-item .content .old_price {
    font-size: 1rem;
    font-weight: bold;
    color: var(--info-clr);
    text-decoration: line-through;
    padding-left: .5rem;
}

.slider-item .content .old_price:after {
    content: ' € *';
}

.slider-item .content .info {
    font-size: .7rem;
    color: var(--info-clr);
    margin-bottom: 0;
}